.toolbar {
  position: absolute;
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.buttonGroup {
  display: block;
}

.colorPicker {
  align-self: center;
}

.toolbar1 {
  top: 40px;
  position: absolute;
  justify-content: space-between;
  display: flex;
  width: 100%;
}
